$widthSquare: 120px;
@mixin container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    overflow: auto;
}
.container{
    @include container;
}


.board{
    margin-top: 100px;
    width:$widthSquare * 8 + 100px;
    @include center;
    flex-wrap: wrap;
}

.square{
    @include center;
    border: 1px solid purple;
    min-width: 120px;
    min-height: 120px;
    &__white{
        background-color:aqua
    }
    &__black{
        background-color:black
    }

}

.checker{
    
    max-width: 100px;
    max-height: 100px;
}


.test-pos{
    border: 2px solid red;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

footer{display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.test-old-pos{
    border: 2px solid red;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide{
    display: none;
}

.hovered{
    background-color: grey;
}

































// .square-row{
//     @include center;
//     padding: 0;
//     margin: 0;
//     &__numbers{
//         @include center
//     } 
// }


// .square{
//     border: 1px solid purple;
//     min-width: 120px;
//     min-height: 120px;
//     &__number{
//         background-color: white
//     }
// }

// .black {
//     background-color: black;
// }

// .white {
//     background-color:aqua;
// }   -- первая версия