$widthSquare: 120px;
@mixin container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    // overflow: auto;
}
.container{
    @include container;
}


.board{
    margin-top: 100px;
    width:$widthSquare * 8 + 100px;
    @include center;
    flex-wrap: wrap;
    
}

.square{
    @include center;
    border: 1px solid yellow;
    width: 120px;
    height: 120px;
    position:relative;
    &__white{
        background-color:aqua
    }
    &__black{
        background-color:black
    }

}

.checker{
    
    max-width: 100px;
    max-height: 100px;
}

.hide {
    display: none;
  }
  
  .hovered {
    background-color: green;
  }





































// .square-row{
//     @include center;
//     padding: 0;
//     margin: 0;
//     &__numbers{
//         @include center
//     } 
// }


// .square{
//     border: 1px solid purple;
//     min-width: 120px;
//     min-height: 120px;
//     &__number{
//         background-color: white
//     }
// }

// .black {
//     background-color: black;
// }

// .white {
//     background-color:aqua;
// }   -- первая версия